{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Kalyana Tirupathi Rao" class="img-fluid profile-img">
    </div>
    <div class="col-md-8">
        <h2>About Me</h2>
        <p>Dedicated Data Science student with a strong foundation in statistics, mathematics, and computer science. Proficient in Python and experienced in data mining, machine learning, visualization, and big data technologies. Demonstrates strong teaching, leadership, and problem-solving skills. Experienced in event coordination and management support. Skilled in critical thinking and communication, passionate about using data to solve real-world problems, and eager to apply expertise to drive informed decision-making.</p>
    </div>
</div>
{% endblock %}