{% extends "base.html" %}
{% block content %}
<h2>Skills</h2>
<div class="row">
    <div class="col-md-6">
        <h4>Programming Languages</h4>
        <ul>
            <li><i class="fab fa-python"></i> Python</li>
            <li><i class="fab fa-r-project"></i> R</li>
            <li><i class="fas fa-database"></i> SQL</li>
            <li><i class="fab fa-js"></i> JavaScript</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Tools and Technologies</h4>
        <ul>
            <li><i class="fas fa-robot"></i> Machine Learning</li>
            <li><i class="fas fa-chart-line"></i> Data Mining</li>
            <li><i class="fas fa-chart-pie"></i> Data Visualization</li>
            <li><i class="fas fa-server"></i> Big Data Technologies</li>
            <li><i class="fas fa-flask"></i> Flask</li>
            <li><i class="fab fa-github"></i> GitHub</li>
        </ul>
    </div>
</div>
{% endblock %}
